<%= simple_form_for [:admin, joboperation], method: methode, authenticity_token: true,
                    wrapper: :custom_form_horizontal,class: "form-horizontal form-groups-bordered" do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <%= link_to "#collapse-edit",:data => {:toggle => "collapse" , :parent =>"#accordion-test"} do %>
                <% if methode == :post %>
                  Ajouter une tâche
                <% else %>
                  <%= repairoption.name %> x <%= joboperation.operation.name %>
                  <span>(ID <%= joboperation.id %>)</span>
                <% end %>
              <% end %>
            </h4>
          </div>
          <div class="collapse show" id="collapse-edit">
            <div class="card-body">
              <% if methode == :patch %>
                <div class="form-group row">
                  <label class="col-form-label col-sm-3 pull-left select required" for="joboperation_repairoption_id">
                    Repairoption
                  </label>
                  <div class="col-sm-6">
                    <input class="form-control string required readonly" readonly="readonly" type="string"
                    value="<%= repairoption.name %>" name="joboperation[repairoption_id]" id="joboperation_repairoption_id">
                  </div>
                </div>
              <% end %>
              <%= f.input :operation_id, label: "Opération", collection: Operation.all %>
              <%= f.hidden_field :repairoption_id, value: repairoption.id %>
              <hr>
              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">&nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <% if methode == :post %>
                    <%= link_to "Retour", :back, {:class=>"btn btn-default"} %>
                  <% else %>
                    <%= link_to "Retour", edit_admin_repairoption_path(repairoption), {:class=>"btn btn-default"} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if  methode == :patch %>
  <br>
  <div class="row" style="padding: 10px;">
    <h3 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Pièces (<%=  @jobparts.count %> pièce<%= s if @jobparts.count >1 %>)
    </h3>
    <div class="col-md-4 col-sm-4 col-xs-4 clearfix"></div>
  </div>

  <br>

  <%= render 'admin/jobparts/form', joboperation: joboperation, jobpart: @jobpart, methode: :post %>
<% end %>
