<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered datatable" id="jobparts_list">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Quantité</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% @jobparts.each_with_index do |jobpart,id|
        edit_link = edit_admin_jobpart_path(jobpart)
        show_link = admin_jobpart_path(jobpart)
      %>
        <tr>
          <td>
            <%= id+1 %>
          </td>
          <td>
            <%= jobpart.part.part_desc %>
          </td>
          <td>
            <%= jobpart.part_qty %>
          </td>
          <td>
            <a href="<%= edit_link %>" class="btn btn-success btn-icon icon-left">
              Modifier<i class="material-icons">edit</i>
            </a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:;" class="btn btn-red btn-icon icon-left button-delete"
               modal-element="<%= jobpart.part.part_desc %>" modal-url="<%= show_link %>">
              Supprimer<i class="material-icons">cancel</i>
            </a>&nbsp;&nbsp;&nbsp;
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
