<%= simple_form_for [:admin, category], method: methode, authenticity_token: true, wrapper: :custom_form_horizontal,
    class: "form-horizontal form-groups-bordered" do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <%= link_to "#collapse-fr",:data => {:toggle => "collapse" , :parent =>"#accordion-test"}  do %>
            <div class="card-header">
              <h4 class="card-title">
                  <% if methode == :post %>
                    Ajouter
                  <% else %>
                    <%= category.name %>
                    <span>
                    (ID <%= category.id %> - Dernière mise à jour: <%= l(category.updated_at, format: :long) %>)
                    </span>
                  <% end %>
              </h4>
            </div>
          <% end %>
          <div class="collapse show" id="collapse-fr">
            <div class="card-body">
              <%= f.input :name, label: "Nom", input_html: {style: "text-transform: uppercase;" }%>

              <%= f.input :description, label: "Description" %>

              <hr>
              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                  <%= f.button :submit, "Enregistrer", class: 'btn btn-success' %> &nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <%= link_to "Retour", :back, {:class=>"btn btn-default"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
