<%= render 'shared/sidebar'%>

<div class="main-content" style="min-height: 1812px;">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Catégories de repairoption", admin_repairoption_categories_path %>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Catégories de repairoptions <%= "(#{@categories.length})" unless @categories.empty? %>
    </h2>

    <div class="col-md-4 col-sm-4 col-xs-4 clearfix">
      <%= link_to new_admin_repairoption_category_path do %>
        <button type="button" class="btn btn-green btn-icon icon-left pull-right">
          Ajouter<i class="material-icons">add</i>
        </button>
      <% end %>
    </div>
  </div>

  <br>

  <%= render 'shared/flashes' %>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered datatable" id="repairoption_categories_id">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each_with_index do |category,id|
            show_link = admin_repairoption_category_path(category)
          %>
            <tr>
              <td>
                <a href="<%= show_link %>" class="table-link"><%= id+1 %></a>
              </td>
              <td>
                <a href="<%= show_link %>" class="table-link"><%= category.name %></a>
              </td>
              <td><%= category.description %></td>
              <td>
                <a href="<%= show_link %>" class="btn btn-success btn-icon icon-left">
                  Modifier<i class="material-icons">edit</i>
                </a>&nbsp;&nbsp;&nbsp;
                <a href="javascript:;" class="btn btn-red btn-icon icon-left button-delete"
                modal-element="<%= category.name %>" modal-url="<%= show_link %>">
                  Supprimer<i class="material-icons">cancel</i>
                </a>&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>
