<%= simple_form_for [:admin, PartnerUserAccount.new], method: :post, url: admin_add_partner_user_account_path , wrapper: :custom_form_horizontal,
                    class: "form-horizontal form-groups-bordered"  do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <%= link_to 'Informations du compte', "#collapse-fr",:data => {:toggle => "collapse" , :parent =>"#accordion-test"} %>
            </h4>
          </div>
          <div class="collapse show" id="collapse-fr">
            <div class="card-body">
              <%= f.input :email, label: "Email"%>
              <%= f.input :role, label: "Role", collection: PartnerUserAccount::ROLES,
                            input_html: { "data-init-plugin": "select2" }%>
              <%= f.hidden_field :partner_id, value: partner.id %>
              <hr>
              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                  <%= f.button :submit, 'Enregistrer', class: 'btn btn-success' %> &nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <%= link_to "Retour", admin_partner_path( partner.id), {:class=>"btn btn-default"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>