<%= render 'shared/sidebar'%>

<div class="main-content">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Partenaires", admin_partners_path %>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Partenaires <%= "(#{@partners.length})" unless @partners.empty? %>
    </h2>

    <div class="col-md-4 col-sm-4 col-xs-4 clearfix">
      <%= link_to new_admin_partner_path do %>
        <button type="button" class="btn btn-green btn-icon icon-left pull-right">
          Ajouter<i class="material-icons">add</i>
        </button>
      <% end %>
    </div>
  </div>

  <br>

  <%= render 'shared/flashes' %>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered datatable" id="partners_id">
        <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>Email</th>
          <th>Prix horraire</th>
          <th>Monaie</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
          <% if @partners.length.zero? %>
          <% else %>
            <% @partners.each_with_index do |partner,id|
              edit_link = edit_admin_partner_path(partner)
              show_link = admin_partner_path(partner)%>
              <tr>
                <td><%= id+1 %></td>
                <td><%= partner.name %></td>
                <td><%= partner.address %></td>
                <td><%= partner.phone_number %></td>
                <td><%= partner.email %></td>
                <td><%= partner.labor_hour_price %></td>
                <td><%= partner.labor_currency %></td>
                <td>&nbsp;
                  <a href="<%= edit_link %>" class="btn btn-success btn-icon icon-left" style="margin-right: 10px">
                    Modifier<i class="material-icons">edit</i>
                  </a>&nbsp;
                  <a href="<%= show_link %>" class="btn btn-warning btn-icon icon-left" style="margin-right: 10px">
                    Voir<i class="material-icons">remove_red_eye</i>
                  </a>&nbsp;
                  <a href="javascript:;" class="btn btn-red btn-icon icon-left button-delete"
                    modal-element-title="le partenaire"
                    modal-element="<%= partner.name %>"
                    modal-url="<%= show_link %>"
                    modal-hint="Ce partenaire et ses comptes utilisateurs seront supprimés">
                    Supprimer<i class="material-icons">cancel</i>
                  </a>&nbsp;&nbsp;
                  <a href="<%= edit_link %>" class="btn btn-info btn-icon icon-left" style="margin-right: 10px">
                    Ajouter un compte<i class="material-icons">add</i>
                  </a>&nbsp;&nbsp;

                </td>
              </tr>
            <% end %>
          <%end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>

