<%= render 'shared/sidebar'%>

<div class="main-content">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Partenaires", admin_partners_path %>
    </li>
    <li>
      <strong> <%=  @partner.name  %> </strong>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Détails du partenaire
    </h2>
  </div>

  <br>
  <%= render 'shared/flashes' %>

  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <%= link_to "#collapse-fr",:data => {:toggle => "collapse" , :parent =>"#accordion-test"}  do %>
                  <%= @partner.name %> <span>(ID - <%= @partner.id %>)</span>
              <% end %>
            </h4>
          </div>
          <div class="collapse show" id="collapse-fr">
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                <tr>
                  <td>RAISON SOCIALE</td>
                  <td><strong><%= @partner.name %></strong></td>
                </tr>
                <tr>
                  <td>ADDRESSE</td>
                  <td><strong><%= @partner.address %></strong></td>
                </tr>
                <tr>
                  <td>EMAIL</td>
                  <td><strong><%= @partner.email %></strong></td>
                </tr>
                <tr>
                  <td>CONTACT</td>
                  <td><strong><%= @partner.phone_number %></strong></td>
                </tr>
                <tr>
                  <td>COUT HORRAIRE DE MAIN D'OEUVRE</td>
                  <td><strong><%= @partner.labor_hour_price %></strong></td>
                </tr>
                <tr>
                  <td>DEVISE</td>
                  <td><strong><%= @partner.labor_currency %></strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Liste des comptes utilisateurs associés
    </h2>
  </div>

  <%= render  'admin/partners/user_account' %>



  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>


