<%= render 'shared/sidebar'%>
<div class="main-content" style="min-height: 1812px;">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- Layout for breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Tableau de bord", root_path %>
    </li>
  </ol>

  <!-- Layout for page title with some actions-->
  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">Tableau de bord</h2>
  </div>

  <br>

  <div class='row'>
    <div class='col-sm-4 col-xs-6'>
      <%= link_to  admin_customers_path do %>
        <%= render 'registration_card',
          registration_count: @customers.length,
          ressource_type: 'Clients',
          card_color: 'tile-blue',
          message: 'nous font confiance'
        %>
      <% end %>
    </div>

    <div class='col-sm-4 col-xs-6'>
      <%= link_to  admin_partners_path do %>
        <%= render 'registration_card',
          registration_count: @partners.length,
          ressource_type: 'Partenaires',
          card_color: 'tile-green',
          message: 'collaborent avec nous'
        %>
      <% end %>
    </div>

    <div class='col-sm-4 col-xs-6'>
      <%= link_to  admin_info_requests_path do %>
        <%= render 'registration_card',
          registration_count: @requests.length,
          ressource_type: 'Demandes de clients',
          card_color: 'tile-aqua',
          message: 'qui souhaitent profiter de nos services'
        %>
      <% end %>
    </div>
  </div>

  <footer class="main">
    © 2020 Kulucar Admin
  </footer>
</div>
