<%= render 'shared/sidebar'%>

<div class="main-content" style="min-height: 1812px;">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Clients", admin_customers_path %>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Clients <%= "(#{@customers.length})" unless @customers.empty? %>
    </h2>

    <div class="col-md-4 col-sm-4 col-xs-4 clearfix">
      <%= link_to new_admin_customer_path do %>
        <button type="button" class="btn btn-green btn-icon icon-left pull-right">
          Ajouter<i class="material-icons">add</i>
        </button>
      <% end %>
    </div>
  </div>

  <br>

  <%= render 'shared/flashes' %>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered datatable" id="customers_id">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom Entreprise</th>
            <th>Addresse</th>
            <th>Téléphone</th>
            <th>Ninea</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if @customers.length.zero? %>
          <% else %>
            <% @customers.each do |customer| %>
              <tr>
                <td><% customer.id%></td>
                <td><%= customer.company_name %></td>
                <td><%= customer.address %></td>
                <td><%= customer.phone_number %></td>
                <td><%= customer.ninea %></td>
                <td><%= customer.firstname %></td>
                <td><%= customer.lastname %></td>
                <td><%= customer.email %></td>
                <td>
                  <a href="<%= edit_admin_customer_path(customer) %>" class="btn btn-success btn-icon icon-left">
                    Modifier<i class="material-icons">edit</i>
                  </a>&nbsp;&nbsp;&nbsp;
                  <a href="javascript:;" class="btn btn-red btn-icon icon-left button-delete"
                  modal-element="<%= customer.firstname %>" modal-url="<%= admin_customer_path(customer) %>">
                    Supprimer<i class="material-icons">cancel</i>
                  </a>&nbsp;&nbsp;&nbsp;
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>
