<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @admin_customer.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin_customer.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @admin_customer.phone_number %>
</p>

<p>
  <strong>Ninea:</strong>
  <%= @admin_customer.ninea %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @admin_customer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admin_customer.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_customer.email %>
</p>

<%= link_to 'Edit', edit_admin_customer_path(@admin_customer) %> |
<%= link_to 'Back', admin_customers_path %>
