<%= simple_form_for [:admin, repairoption], method: methode, authenticity_token: true, wrapper: :custom_form_horizontal,
                    class: "form-horizontal form-groups-bordered" do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <%= link_to "#collapse-fr",:data => {:toggle => "collapse" , :parent =>"#accordion-test"} do %>
            <div class="card-header">
              <h4 class="card-title">
                <% if methode == 'patch' %>
                  <%= repairoption.name %>
                  <span>
                    (ID: <%= repairoption.id %> - Dernière mise à jour: <%= l(repairoption.updated_at, format: :long) %>)
                  </span>
                <% else %>
                  Ajouter
                <% end %>
              </h4>
            </div>
          <% end %>
          <div class="collapse show" id="collapse-fr">
            <div class="card-body">
              <%= f.input :repairoption_category_id, label: "Catégorie", collection: RepairoptionCategory.all,
                            input_html: { "data-init-plugin": "select2" }%>
              <%= f.input :name, label: "Nom", input_html: {style: "text-transform: uppercase;" }%>

              <%= f.input :description, label: "Description" %>

              <%= f.input :optional, label: "Proposé en option", wrapper: :custom_checkbox, wrapper_html: { class: "check-success" } %>

              <hr>
              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                  <%= f.button :submit, "Enregistrer", class: 'btn btn-success' %> &nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <%= link_to "Retour", admin_repairoptions_path, {:class=>"btn btn-default"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if  methode == 'patch' %>
  <br>
  <div class="row" style="padding: 10px;">
    <h3 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Tâches (<%=  @joboperations.length %> operation<%= 's' if @joboperations.length >1 %>)
    </h3>
    <div class="col-md-4 col-sm-4 col-xs-4 clearfix"></div>
  </div>

  <%= render 'admin/joboperations/form', joboperation: joboperation, repairoption: repairoption, methode: :post %>
<% end %>
