<%= simple_form_for [:admin, repairoption], method: :method, authenticity_token: true, wrapper: :custom_form_horizontal,
                    class: "form-horizontal form-groups-bordered" do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <% if method == :patch %>
                <%= link_to "#{ repairoption.name} ( ID: #{repairoption.id } - Dernière mise à jour le #{repairoption.updated_at} )", "#collapse-fr",:data => {:toggle => "collapse" , :parent =>"#accordion-test"} %>
              <% else %>
              Ajouter
                <% end %>
            </h4>
          </div>
          <div class="collapse show" id="collapse-fr">
            <div class="card-body">
              <% if method == :post %>
                <%= f.input :repairoption_category_id, label: "Catégorie", collection: RepairoptionCategory.all,
                            input_html: { "data-init-plugin": "select2" }%>
              <% end %>
              <%= f.input :name, label: "Nom", input_html: {style: "text-transform: uppercase;" }%>

              <%= f.input :description, label: "Description" %>

              <%= f.check_box :optional, label: "Proposé en option" %>

              <hr>
              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">
                  <%= f.button :submit, "Enregistrer", class: 'btn btn-success' %> &nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <%= link_to "Retour", :back, {:class=>"btn btn-default"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>