<%= render 'shared/sidebar'%>

<div class="main-content">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Services", admin_repairoptions_path %>
    </li>
    <li>
      <strong>Modifier</strong>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Services
    </h2>
  </div>

  <br>

  <%= render 'shared/flashes' %>
  <div class="row">
    <div class="col-md-12">
      <%= render  "admin/repairoptions/form", repairoption: @repairoption, methode: 'patch', joboperation: @joboperation %>
    </div>
  </div>
  <br>
  <%= render  'admin/repairoptions/joboperations' %>


  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>
