<%= render 'shared/sidebar'%>

<div class="main-content">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Repairoptions", admin_repairoptions_path %>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Repairoptions <%= "(#{@repairoptions.length})" unless @repairoptions.empty? %>
    </h2>

    <div class="col-md-4 col-sm-4 col-xs-4 clearfix">
      <%= link_to new_admin_repairoption_path do %>
        <button type="button" class="btn btn-green btn-icon icon-left pull-right">
          Ajouter<i class="material-icons">add</i>
        </button>
      <% end %>
    </div>
  </div>

  <br>

  <%= render 'shared/flashes' %>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered datatable" id="repairoptions_id">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Catégorie</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @repairoptions.each_with_index do |repairoption,id|
            edit_link = edit_admin_repairoption_path(repairoption)
            show_link = admin_repairoption_path(repairoption)
            repair_jobops = repairoption.joboperations.map do |jobop|
              jobop.operation.name
            end
          %>
            <tr data-jobops = "<%= repair_jobops.to_json %>">
              <td>
                <% if repair_jobops.length > 0 %>
                  <i class="fa fa-plus-circle"></i>
                <% end %>
              </td>
              <td>
                <%= repairoption.name %>&nbsp;&nbsp;&nbsp;
                <% if repairoption.optional? %>
                  <span class="badge badge-primary">Optionel</span>
                <% end %>
              </td>
              <td><%= repairoption.description %></td>
              <td><%= repairoption.repairoption_category.name %></td>
              <td>
                <a href="<%= edit_link %>" class="btn btn-success btn-icon icon-left">
                  Modifier<i class="material-icons">edit</i>
                </a>&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>

</div>
