<div class="sidebar-menu" style="min-height: 1709px;">
  <header class="logo-env">

    <!-- logo -->
    <div class="logo">
      <a href="#">
        <%= image_tag 'logo.png', width: '120', alt: '' %>
      </a>
    </div>

    <div class="sidebar-collapse">
      <a href="#" class="sidebar-collapse-icon with-animation">
        <i class="material-icons">menu</i>
      </a>
    </div>

    <div class='sidebar-mobile-menu visible-xs'>
    </div>
  </header>

  <ul id="main-menu">
    <li class="root-level">
      <%= link_to root_path do%>
        <i class="material-icons">dashboard</i><span>Tableau de bord</span>
      <% end %>
    </li>
    <li class="root-level">
      <%= link_to admin_repairoption_categories_path do%>
        <i class="material-icons">label</i><span>Catégories de services</span>
      <% end %>
    </li>
    <li class="root-level">
      <%= link_to admin_repairoptions_path do%>
        <i class="material-icons">label</i><span>Services</span>
      <% end %>
    </li>
    <li class="root-level">
      <%= link_to admin_repairoptions_path do%>
        <i class="material-icons">build</i><span>Repairoptions</span>
      <% end %>

      <ul>
        <li>
          <%= link_to admin_operations_path do%>
            <i class="material-icons">list</i><span>Opérations</span>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="root-level">
      <%= link_to admin_users_path do%>
        <i class="material-icons">supervisor_account</i><span>Utilisateurs</span>
      <% end %>
    </li>
  </ul>
</div>
