<%= simple_form_for [:admin, jobpart], method: methode, authenticity_token: true,
                    wrapper: :custom_form_horizontal,class: "form-horizontal form-groups-bordered" do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="card-group joined" id="accordion-test">
        <div class="card">
          <%= link_to "#collapse-part",:data => {:toggle => "collapse" , :parent =>"#accordion-test"} do %>
            <div class="card-header">
              <h4 class="card-title">
                <% if methode == :post %>
                  Ajouter une pièce
                <% else %>
                  <%= joboperation.operation.name %> x <%= jobpart.part.part_desc %>
                  <span>
                  (ID <%= jobpart.id %> - Dernière mise à jour: <%= l(jobpart.updated_at, format: :long) %>)
                  </span>
                <% end %>
              </h4>
            </div>
          <% end %>

          <div class="collapse show" id="collapse-part">
            <div class="card-body">
              <% if methode == :patch %>
                <div class="form-group row">
                  <label class="col-form-label col-sm-3 pull-left select required" for="jobpart_joboperation_id">
                    Tâche
                  </label>
                  <div class="col-sm-6">
                    <input class="form-control string required readonly" readonly="readonly" type="string"
                    value="<%= joboperation.operation.name %>" name="jobpart[joboperation_id]" id="jobpart_joboperation_id">
                  </div>
                </div>
              <% end %>
              <%= f.input :part_id, label: "Pièce", collection: Part.all, label_method: :part_desc, value_method: :id %>
              <%= f.input :part_qty, label: "Quantité" %>
              <%= f.hidden_field :joboperation_id, value: joboperation.id %>

              <hr>

              <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-6">&nbsp;&nbsp;
                  <%= f.button :submit, 'Enregistrer et continuer', class: 'btn btn-success set-lang', lang: 'fr' %> &nbsp;&nbsp;
                  <% if methode == :post %>
                    <%= link_to "Retour", :back, {:class=>"btn btn-default"} %>
                  <% else %>
                    <%= link_to "Retour", edit_admin_joboperation_path(joboperation), {:class=>"btn btn-default"} %>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
