<%= render 'shared/sidebar'%>

<div class="main-content">
  <%= render 'shared/navbar' %>
  <hr>
  <!-- breadcrumb-->
  <ol class="breadcrumb bc-3">
    <li>
      <%= link_to root_path do %>
        <i class="material-icons md-18">home</i>Accueil
      <% end %>
    </li>
    <li>
      <%= link_to "Demandes de comptes", admin_info_requests_path %>
    </li>
  </ol>

  <div class="row">
    <h2 class="col-md-8 col-sm-8 col-xs-8 list-title clearfix">
      Demandes
    </h2>
  </div>

  <br>

  <h4>Demandes <span class="semi-bold">En attente</span></h4>
  <br>
  <div class="row">
    <% if @opened_requests.empty? %>
      <div class="col-md-12">
        <div class="grid simple no-border">
          <div class="grid-title no-border descriptive">
            <h4 class="semi-bold">
              Aucune demande
            </h4>
          </div>
        </div>
      </div>
    <% else %>
      <% @opened_requests.each do |request| %>
        <div class="col-md-12">
          <div class="grid simple no-border">
            <div class="grid-title no-border descriptive clickable">
              <h4 class="semi-bold">
                Demande de création de compte pour <%= request.company_name %>
              </h4>
              <p>
                <span class="text-success bold">Demande #<%= request.id %></span>
                - Créé le <%= l(request.created_at, format: :long) %>&nbsp;&nbsp;
              </p>

              <div class="actions">
                <%= link_to({controller: "customers", action: "new", request_id: request.id}, {class: "btn btn-success btn-icon icon-left"}) do %>
                  Traiter la demande<i class="material-icons">edit</i>
                <% end %>&nbsp;&nbsp;&nbsp;
              </div>
            </div>

            <div class="grid-body light-grey no-border" style="display:none">
              <div class="info-wrapper">
                <div class="info">
                  <span class="bold">Entreprise: </span><%= request.company_name %>
                  <br> <span class="bold">Demandé par : </span><%= request.firstname %> <%= request.lastname %>
                  <br> <span class="bold">Email: </span><%= request.working_email %>
                  <br> <span class="bold">N° de téléphone: </span><%= request.phone_number %>
                  <br> <span class="bold">Addresse: </span><%= request.company_address %>
                  <br> <span class="bold">NINEA: </span><%= request.ninea %>
                  <br>
                  <br> <span class="bold">Message</span>
                  <br>
                  <br> <%= request.comments %>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <h4>Demandes <span class="semi-bold">Traitées</span></h4>
  <br>
  <div class="row">
    <% if @closed_requests.empty? %>
      <div class="col-md-12">
        <div class="grid simple no-border">
          <div class="grid-title no-border descriptive">
            <h4 class="semi-bold">
              Aucune demande
            </h4>
          </div>
        </div>
      </div>
    <% else %>
      <% @closed_requests.each do |request| %>
        <div class="col-md-12">
          <div class="grid simple no-border">
            <div class="grid-title no-border descriptive clickable">
              <h4 class="semi-bold">
                Demande de création de compte pour <%= request.company_name %>
              </h4>
              <p>
                <span class="text-success bold">Demande #<%= request.id %></span>
                - Créé le <%= l(request.created_at, format: :long) %>
                - Traité par <%= request.user_firstname %> <%= request.user_lastname %>&nbsp;&nbsp;
              </p>
            </div>
            <div class="grid-body  no-border" style="display:none">
              <div class="info-wrapper">
                <div class="info">
                  <span class="bold">Entreprise: </span><%= request.company_name %>
                  <br> <span class="bold">Demandé par : </span><%= request.firstname %> <%= request.lastname %>
                  <br> <span class="bold">Email: </span><%= request.working_email %>
                  <br> <span class="bold">N° de téléphone: </span><%= request.phone_number %>
                  <br> <span class="bold">Addresse: </span><%= request.company_address %>
                  <br> <span class="bold">NINEA: </span><%= request.ninea %>
                  <br>
                  <br> <span class="bold">Message</span>
                  <br>
                  <br> <%= request.comments %>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- footer -->
  <footer class="main">
    © 2020 Kulucar Admin
  </footer>
</div>
