<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%
=begin%>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<%
=end%>

    <title>Kulucar Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>

    <!-- Remove the zoom when clique on the search page -->
    <meta name="viewport" content= "width=device-width, user-scalable=no">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <% if current_admin_user_account %>
    <body class="page-body">
      <div class='page-container'>
        <%= yield %>
      </div>
      
       <%= render  "shared/delete_modal" %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
  <% else %>
    <body class="page-body login-page">
      <%= yield %>
    </body>
  <% end %>
</html>
